[data-block-name="Motionlab\\Sauce\\Blocks\\KeyFeaturesBlock\\KeyFeaturesBlock"] {
  .owl-nav {

    width: calc(100% + 3rem) !important;

    .owl-prev, .owl-next {
      border-radius: 0px;
      background: rgba(0,0,0,.5) !important;
    }

    .owl-prev {
      left: -5rem;
    }

    .owl-next {
      left: 5rem;
    }

  }

  [data-animation="zoom"] {

    z-index: 1;
    position: relative;

    transition: all .2s ease-in-out;

    &:hover {

      transition: all .2s ease-in-out;

      transform: scale(1.1);
      z-index: 10;
    }
  }

  .owl-stage-outer {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    width: calc(100% + 3rem) !important;
  }

  .owl-dots {
      width: calc(100% + 3rem) !important;
  }
}